*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(180, 182, 184);
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 100px;
    padding: 100px;
}
header{
    padding-bottom: 10px;
}
.wrapper{
    background-color: cornsilk;
}
.heading{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    height: 300px;
}
.heading h1{
    font-size: 50px;
    color: rgb(15, 1, 1);
    padding-top: 60px;
    padding-left: 60px;
}
.heading h4{
    font-size: 25px;
    color: #363636;
    font-weight: 100;
    padding-left: 60px;
    padding-bottom: 20px;
}
.heading-picture img{
    width: 25%;
    position: relative;
    top: -187px;
    left: 470px;
}
.contacts{
    background-color: #3d3d3d;
    display: flex;
    flex-direction: row;
    color: rgb(253, 252, 251);
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 28px;
    font-size: 13px;
    width: 59%;
}
section{
    height: 750px;
    background-color: rgba(255, 255, 255, 0.733);
}
.container{
    color:rgb(19, 17, 15);
    padding-top: 62px;
    padding-left: 60px;
    padding-right: 190px;
    margin-right: 300px;
    line-height: 26px;
}
.container-profile h4{
    padding-bottom: 5px;
}
.container-profile p{
    padding-top: 5px;
    font-size: 13px;
    color: #505050;
}

.container-experience h4{
    padding-top: 40px;
}
.container-experience p{
    padding-top: 10px;
    font-size: 13px;
    
}
.container-experience ul li{
    padding-top: 10px;
    font-size: 13px;
    color: #505050;
}
.container2{
    background-color: #EBEBEB;
    color:rgb(12, 11, 11);
    margin-left: 0px;
    position: relative;
    top: -681px;
    left: 490px;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    height: 817px;
}
.container2 p{
    font-size: 13px;
    line-height: 22px;
}
.container-education h4{
    padding-top: 20px;
}
.container-education p{
    padding-top: 20px;
    color: #505050;
}

.container-certification h4{
    padding-top: 30px;
}
.container-certification p{
    padding-top: 20px;
    color: #505050;
}
.container-skill{
    padding-left: 0px;
}
.container-skill li{
    padding-top: 5px;
    font-size: 13px;
    color: #505050;
}
.container-skill h4{
    padding-top: 30px;
}


